* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',sans-serif;
    background: #EEEEEE;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;   
}

.logo a {
    font-size: clamp(24px, 3vw, 800px);
    font-weight: bold;
    float: left;
    font-family: courier;
    color: black;
}


.menu {
    float: right;
}

#topic {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    padding: 2rem 6rem;
    width: 100%;
    background: #D9D9D9;
    border-radius: 15px;
}

.kartu-poin {
    width: 17%;
    margin: 0 auto;
}

.kartu-poin {
    background: #A9A9A9;
    border-radius: 15px;
    padding: 15px 5px;
}

.kartu-poin img {
    width: 85%;
    border-radius: 15px;
}

.kartu-poin p {
    font-family:  'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.imt-card {
    width: 17%;
    margin: 0 auto;
}

.imt-card {
background: #A9A9A9;
    border-radius: 15px;
    padding: 15px 5px;
}

.imt-card img {
    width: 85%;
    border-radius: 15px;
}

.imt-card p {
    font-family:  'comic sans ms';
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    color: #364f6b;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}


.kp {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.imt .kp {
    display: flex;
    flex-direction: column;
}
